*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.vs
.idea
app/src/main/cpp/testffmpeg/Debug
app/src/main/cpp/testffmpeg/Release
app/src/main/cpp/testffmpeg/testffmpeg.VC.db
app/src/main/cpp/testffmpeg/testffmpeg.vcxproj.user